h1 {
  color: red;
}

div.customGridTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 800px;
  text-align: left;
  border-collapse: collapse;
}

.divTable .divTableCell, .divTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.divTable .divTableBody .divTableCell {
  font-size: 13px;
}

.divTable .divTableRow:nth-child(odd) {
  background: #D0E4F5;
}

.divTable .divTableHeading {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

.divTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #0000;
  border-left: 2px solid #D0E4F5;
}

.divTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

 .tableFootStyle {
  font-size: 14px;
}

 .tableFootStyle .links {
  text-align: right;
}

 .tableFootStyle .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.outerTableFooter {
  border-top: none;
}

.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}

/* DivTable.com */
.divTable {
  display: table;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  display: table-header-group;
}

.divTableCell, .divTableHead {
  display: table-cell;
}

.divTableHeading {
  display: table-header-group;
}

.divTableFoot {
  display: table-footer-group;
}

.divTableBody {
  display: table-row-group;
}


.collapse:not(.show) {
  display: none;
}

.cell {
  width: 14.285714285714285714285714285714%;
}

.inner-table .cell {
  /*width: unset;*/
}
