<div id="right-panel" class="right-panel">

  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <!--<h1>Все заказы, кроме доставленых</h1>-->
        </div>
      </div>
    </div>
    <!--<div class="col-sm-8">-->

    <!--</div>-->
  </div>

  <div class="card">
    <div class="card-title">
    </div>
    <div class="card-body">

      <div class="container-fluid">
        <div class="row seven-cols">
          <div class="cell header col-sm-1"></div>
          <div class="cell header col-sm-2">ФИО Клиента</div>
          <div class="cell header col-sm-2">Номер телефона</div>
          <div class="cell header col-sm-1">№ заказа</div>
          <div class="cell header col-sm-2">Сумма заказа</div>
          <div class="cell header col-sm-2">Статус заказа</div>
          <div class="cell header col-sm-2">Дата создания</div>
        </div>
        <div class="tableBody" *ngFor="let order of orders">
          <div class="row seven-cols">
            <div class="cell col-sm-1">
              <a data-toggle="collapse" data-target="#23" aria-expanded="false"
                 aria-controls="footwear" class="collapsed">
                <i class="far fa-plus-square"></i>
              </a>
            </div>
            <div class="cell col-sm-2">{{order?.fullName}}</div>
            <div class="cell col-sm-2">{{order?.username}}</div>
            <div class="cell col-sm-1">{{order?.id}}</div>
            <div class="cell col-sm-2">{{order?.orderTotal}}</div>
            <div class="cell col-sm-2">{{order?.orderStatus}}</div>
            <div class="cell col-sm-2">{{order?.createdDate}}</div>
          </div>
          <div id="23" class="row collapse">
            <div class="cell"></div>
            <div class="cell">
              <div class="divTable inner-table">
                <div class="divTableHead">
                  <div class="row divTableRow">
                    <div class="cell header divTableHead">Фермер</div>
                    <div class="cell header divTableHead">Название лота</div>
                    <div class="cell header divTableHead">Начальное к-во</div>
                    <div class="cell header divTableHead">Фактическое к-во</div>
                    <div class="cell header divTableHead">Фасовка</div>
                    <div class="cell header divTableHead">Цена за единицу</div>
                    <div class="cell header divTableHead">Сумма</div>
                    <div class="cell header divTableHead">Дата создания</div>
                    <div class="cell header divTableHead">Статус</div>
                  </div>
                </div>
                <div class="divTableBody">
                  <div class="divTableRow row" *ngFor="let op of order.orderPositions">
                    <div class="cell divTableCell">{{op?.farmerName}}</div>
                    <div class="cell divTableCell">{{op?.lotName}}</div>
                    <div class="cell divTableCell">{{op?.initialAmount}}</div>
                    <div class="cell divTableCell">{{op?.actualAmount}}</div>
                    <div class="cell divTableCell">{{op?.amountUnitDescr}}</div>
                    <div class="cell divTableCell">{{op?.pricePerUnit}}</div>
                    <div class="cell divTableCell">{{op?.total}}</div>
                    <div class="cell divTableCell">{{op?.createdDate}}</div>
                    <div class="cell divTableCell">{{op?.status}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="divTable customGridTable">-->
      <!--<div class="divTableHeading">-->
      <!--<div class="divTableRow">-->
      <!--<div class="divTableHead" style="width: 14.28571%"></div>-->
      <!--<div class="divTableHead" style="width: 14.28571%">ФИО Клиента</div>-->
      <!--<div class="divTableHead" style="width: 14.28571%">Номер телефона</div>-->
      <!--<div class="divTableHead" style="width: 14.28571%">№ заказа</div>-->
      <!--<div class="divTableHead" >Сумма заказа</div>-->
      <!--<div class="divTableHead" style="width: 14.28571%">Статус заказа</div>-->
      <!--<div class="divTableHead" style="width: 14.28574%">Дата создания</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="divTableBody" *ngFor="let order of orders">-->
      <!--<div class="divTableRow row">-->
      <!--<div class="divTableCell" style="width: 14.28571%">-->
      <!--<a data-toggle="collapse" data-target="#23" aria-expanded="false"-->
      <!--aria-controls="footwear"   class="collapsed">-->
      <!--<i class="far fa-plus-square"></i>-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="divTableCell" style="width: 14.28571%">{{order?.fullName}}</div>-->
      <!--<div class="divTableCell" style="width: 14.28571%">{{order?.username}}</div>-->
      <!--<div class="divTableCell" style="width: 14.28571%">{{order?.id}}</div>-->
      <!--<div class="divTableCell" style="width: 14.28571%">{{order?.orderTotal}}</div>-->
      <!--<div class="divTableCell" style="width: 14.28571%">{{order?.orderStatus}}</div>-->
      <!--<div class="divTableCell" style="width: 14.28574%">{{order?.createdDate}}</div>-->
      <!--</div>-->
      <!--<div id="23" class="divTableRow collapse" style="width: 100%">-->
      <!--<div class="divTableCell" style="width: 14.28571%"></div>-->
      <!--<div class="divTableCell" style="width: 85.71429%">-->
      <!--<div class="divTable">-->
      <!--<div class="divTableHeading">-->
      <!--<div class="divTableRow">-->
      <!--<div class="divTableHead">Фермер</div>-->
      <!--<div class="divTableHead">Название лота</div>-->
      <!--<div class="divTableHead">Начальное к-во</div>-->
      <!--<div class="divTableHead">Фактическое к-во</div>-->
      <!--<div class="divTableHead">Фасовка</div>-->
      <!--<div class="divTableHead">Цена за единицу</div>-->
      <!--<div class="divTableHead">Сумма</div>-->
      <!--<div class="divTableHead">Дата создания</div>-->
      <!--<div class="divTableHead">Статус</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="divTableBody">-->
      <!--<div class="divTableRow" *ngFor="let op of order.orderPositions">-->
      <!--<div class="divTableCell">{{op?.farmerName}}</div>-->
      <!--<div class="divTableCell">{{op?.lotName}}</div>-->
      <!--<div class="divTableCell">{{op?.initialAmount}}</div>-->
      <!--<div class="divTableCell">{{op?.actualAmount}}</div>-->
      <!--<div class="divTableCell">{{op?.amountUnitDescr}}</div>-->
      <!--<div class="divTableCell">{{op?.pricePerUnit}}</div>-->
      <!--<div class="divTableCell">{{op?.total}}</div>-->
      <!--<div class="divTableCell">{{op?.createdDate}}</div>-->
      <!--<div class="divTableCell">{{op?.status}}</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="divTableCell" style="width: 0%"></div>-->
      <!--<div class="divTableCell" style="width: 0%"></div>-->
      <!--<div class="divTableCell" style="width: 0%"></div>-->
      <!--<div class="divTableCell" style="width: 0%"></div>-->
      <!--<div class="divTableCell" style="width: 0%"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->


      <!--delete later-->
      <!--<table class="table table-striped">-->
      <!--<tr>-->
      <!--<th class="text-left"></th>-->
      <!--<th class="text-left">ФИО Клиента</th>-->
      <!--<th class="text-left">Номер телефона</th>-->
      <!--<th class="text-center">№ заказа</th>-->
      <!--<th class="text-center">Сумма заказа</th>-->
      <!--<th class="text-center">Статус заказа</th>-->
      <!--<th class="text-center">Дата создания</th>-->
      <!--</tr>-->
      <!--<div th:each="order : ${orders}">-->
      <!--<tr>-->
      <!--<td>-->
      <!--<a data-toggle="collapse" th:href="'&#35;' + ${order.id}" aria-expanded="false"-->
      <!--aria-controls="footwear" class="collapsed">-->
      <!--<i class="fa fa-plus-square-o"/>-->
      <!--</a>-->
      <!--</td>-->
      <!--<td class="text-left" th:text="${order?.fullName}"></td>-->
      <!--<td class="text-left" th:text="${order?.username}"></td>-->
      <!--<td class="text-center" th:text="${order?.id}"></td>-->
      <!--<td class="text-center" th:text="${order?.orderTotal}"-->
      <!--th:classappend="${order.estimatedCalculationOfTotal} == true ? 'text-danger' : ''"></td>-->
      <!--<td class="text-center" th:text="${order?.orderStatus}"></td>-->
      <!--<td class="text-center" th:text="${order?.createdDate}"></td>-->
      <!--</tr>-->
      <!--<tr th:id="${order.id}" class="collapse inner-table-container-row">-->
      <!--<td colspan="7">-->
      <!--<table class="table inner-table">-->
      <!--<tr>-->
      <!--<th class="text-left">Фермер</th>-->
      <!--<th class="text-left">Название лота</th>-->
      <!--<th class="text-left">Начальное к-во</th>-->
      <!--<th class="text-left">Фактическое к-во</th>-->
      <!--<th class="text-left">Фасовка</th>-->
      <!--<th class="text-left">Цена за единицу</th>-->
      <!--<th class="text-left">Сумма</th>-->
      <!--<th class="text-left">Дата создания</th>-->
      <!--<th class="text-left">Статус</th>-->
      <!--</tr>-->
      <!--<tr th:each="op : ${order.orderPositions}">-->
      <!--<td class="text-left" th:text="${op?.farmerName}"></td>-->
      <!--<td class="text-left" th:text="${op?.lotName}"></td>-->
      <!--<td class="text-left" th:text="${op?.initialAmount}"></td>-->
      <!--<td class="text-left" th:text="${op?.actualAmount}"></td>-->
      <!--<td class="text-left" th:text="${op?.amountUnitDescr}"></td>-->
      <!--<td class="text-left" th:text="${op?.pricePerUnit}"></td>-->
      <!--<td class="text-left" th:text="${op?.total}"-->
      <!--th:classappend="${op.estimatedCalculationOfTotal} == true ? 'text-danger' : ''"></td>-->
      <!--<td class="text-left" th:text="${op?.createdDate}"></td>-->
      <!--<td class="text-left" th:text="${op?.status}"></td>-->
      <!--</tr>-->
      <!--</table>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</div>-->
      <!--</table>-->
      <!--&lt;!&ndash;delete later&ndash;&gt;-->

      <!--Pagination control-->

      <!--<div class="row">-->
      <!--<div class="form-group col-md-1">-->
      <!--<select class="form-control pagination justify-content-center" id="pageSizeSelect">-->
      <!--<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"-->
      <!--th:selected="${pageSize} == ${selectedPageSize}"></option>-->
      <!--</select>-->
      <!--</div>-->
      <!--<nav th:if="${orders.totalPages != 1}" class="form-group">-->
      <!--<ul class="pagination justify-content-center">-->
      <!--<li class="page-item" th:classappend="${orders.number == 0} ? disabled">-->
      <!--<a class="page-link"-->
      <!--th:href="@{/reports/all-orders-except-delivered(pageSize=${selectedPageSize}, page=1)}">-->
      <!--<span aria-hidden="true">&laquo;</span>-->
      <!--<span class="sr-only">Первый</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="page-item" th:classappend="${orders.number == 0} ? disabled">-->
      <!--<a class="page-link"-->
      <!--th:href="@{/reports/all-orders-except-delivered(pageSize=${selectedPageSize}, page=${orders.number})}">&larr;</a>-->
      <!--</li>-->
      <!--<li class="page-item"-->
      <!--th:classappend="${orders.number == (page - 1)} ? 'active pointer-disabled'"-->
      <!--th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">-->
      <!--<a class="page-link"-->
      <!--th:href="@{/reports/all-orders-except-delivered(pageSize=${selectedPageSize}, page=${page})}"-->
      <!--th:text="${page}"></a>-->
      <!--</li>-->
      <!--<li class="page-item" th:classappend="${orders.number + 1 == orders.totalPages} ? disabled">-->
      <!--<a class="page-link"-->
      <!--th:href="@{/reports/all-orders-except-delivered(pageSize=${selectedPageSize}, page=${orders.number + 2})}">&rarr;</a>-->
      <!--</li>-->
      <!--<li class="page-item" th:classappend="${orders.number + 1 == orders.totalPages} ? disabled">-->
      <!--<a class="page-link"-->
      <!--th:href="@{/reports/all-orders-except-delivered(pageSize=${selectedPageSize}, page=${orders.totalPages})}">-->
      <!--<span aria-hidden="true">&raquo;</span>-->
      <!--<span class="sr-only">Последний</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</nav>-->
      <!--</div>-->
    </div>
  </div>
</div>

<!-- Right Panel -->

<!--<script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>-->
<!--<script src="/assets/js/popper.min.js"></script>-->
<!--<script src="/assets/js/plugins.js"></script>-->
<!--<script src="/assets/js/main.js"></script>-->

